*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}
#container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    gap: 4px;
}
#header{
    background-color: green;
    grid-column: 1 / 3;
}
#sidebar{
    background-color: steelblue;
    grid-column: 1 / 2;
}
#article{
    background-color: honeydew;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
    gap: 5px;
}
#article .cards{
    height: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cards{
    background-color: rebeccapurple;
}

.cards p{
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.cards .cardTitle{
    font-size: 45px;
    text-align: center;
}
.cards .cardAuthor{
    font-size: 33px;
}
.cards .cardPages{
    font-size: 25px;
}
.cards .cardRead{
    font-size: 25px;
}
#dialog{
    border: 1px solid red;
    width: 600px;
    height: 400px;
    position: fixed;
    z-index: 100;
    left: 40%;
    top: 30%;
}
#containerRadioBtn{
    display: flex;
    flex-direction: row;
    gap: 22px;
}
/* ul{
    display: flex;
    flex-direction: row;
    gap: 27px;

    list-style: none;
} */